.header
    div.right
        div.gm_gf
            div.gm
                a(href="") Gmail
            div.gf
                a(href="") 图片
        div.apps
            a(href="https://about.google/intl/zh-CN/products/?tab=wh").rua
        div.user
            
