.search
    div.logo
    div.searchbox
        div.ssvg
        input.inputbox
        div.vsvg

    center.buttons
        button.search Google 搜索
        button.handsright 手气不错
    div.sopport
        text.gs Google 提供：
        a(href="https://www.google.com/setprefs?sig=0_2LZVehl7r_kdHM-jf4Ld_XQh110%3D&hl=ja&source=homepage&sa=X&ved=0ahUKEwivjJzP9KHsAhWOBogKHSSJDV8Q2ZgBCA8").nh 日本语
        